:root {
    --primary-color: #ff00c8;
    --secondary-color: #6c757d;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: inline-block;
  }